<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-color: beige;"> 

    <header style="background-color: rgb(2, 136, 80);
                   font-size: 2rem;
                   height: 6rem;
                   display: flex;
                   justify-content: center;
                   align-items: center;">
        <h2>🌫My aplication</h2>
    </header>

    <hr>

    <div style="display: flex;
                justify-content: center;
                color: rgb(6, 185, 6);" 
         id="divh1Profile">
        <h1 class="headerPerfilh1">Perfil de usuario</h1>
    </div>
    
    <hr>

    <div style="display: flex; flex-direction: column;">
        <h2 style="margin-left: 1rem"><strong>¡Hola, {{user.first_name}}!</strong></h2>
    </div>

    <hr>
    
    <div style="margin-left: 1rem" class="datosUser">
        <h4 class="titulo" style="color: rgb(207, 49, 10);"><strong>Datos del usuario</strong></h4>

        <div style="margin-left: 1rem;">
            <p class="parrafo"><strong>Nombre:</strong> {{user.first_name}}</p>
            <p class="parrafo"><strong>Apellido:</strong> {{user.last_name}}</p>
            <p class="parrafo"><strong>Email:</strong> {{user.email}}</p>
            <p class="parrafo"><strong>Edad:</strong> {{user.age}}</p>
            <p class="parrafo"><strong>Rol:</strong> {{user.rol}}</p>
            <p class="parrafo"><strong>Provider:</strong> {{user.provider}}</p>
        </div>     

        <form class="logout" action="/api/sessions/logout" method="POST">
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
    </div>

    <hr>

    <h2 style="margin-top: 3rem;margin-left: 1rem; text-align: center">Lista de productos de la tienda:<a href="/realTimeProducts"><button style="margin-left: 1rem;" type="button" class="btn btn-outline-success">Crear Producto</button></a></h2>

    <div style="display: flex;
                justify-content: center;
                align-items: center;
                margin: 2rem;
                text-align: center;"
                id="tablePaginate">
        <table style="border: 2.5px solid black; padding: 5rem;width: auto" class="tablePag">
            <thead>
                <tr>
                    <th  style="padding: .7rem;background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;"><strong>#</strong></th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">ID</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Producto</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Tamaño</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Stock</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Precio</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;" class="none"></th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;" class="none"></th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;" class="none"></th>
                </tr>
            </thead>

            <tbody>
                {{#each products.docs}}
                <tr>
                    <td style="padding: .6rem;" class="center"><strong>{{this.id}}</strong></td>
                    <td class="center">{{this._id}}</td>
                    <td class="center">{{this.tittle}}</td>
                    <td class="center">{{this.description}}</td>
                    <td class="center">{{this.stock}}</td>
                    <td class="center">${{this.price}}</td>
                
                    <td class="none"><a href="/api/products/{{this._id}}"><button id= "{{this._id}}" type="button" class="btn btn-secondary">Detalle</button></a></td>
                
                    <td class="none"><a href="/actualizar?id={{this._id}}"><button type="button" class="btn btn-primary" id={{this._id}}>Actualizar</button></a></td>
                    <td class="none"><a href="/api/products/{{this._id}}"><button type="button" id={{this._id}} class="btn btn-outline-danger">Eliminar</button></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <footer style="display: flex;flex-direction: row;justify-content: center;align-items: center;background-color: rgb(2, 136, 80);color: white;bottom: 0;width: 100%;height: 7rem;">
        <div style="display: flex;justify-content: center;align-items: center;">
            <div>
                <h3>🌫My aplication</h3>
            </div>
            <p style="margin: 1rem;">Aplicacion creada por Juan Pablo Estrada (sin finalidad comercial)</p>
            <p style="margin: 1rem;">Todos los derechos reservados</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>