<div class="tableContainer2">
        
    <table id="productos">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Code</th>
        </tr>

        {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.tittle}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>{{this.code}}</td>       
        </tr>
        {{/each}}
    </table>
</div>
    
