<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 

    <div id="divh1Profile">
        <h1 class="headerPerfilh1">Perfil de usuario</h1>
    </div>
    
    <h2>Hola, {{username}}</h2>

    <hr>
    
    <div class="datosUser">
        <h4 class="titulo">Datos del usuario</h4>

        <p class="parrafo">Nombre: {{username}}</p>
        <p class="parrafo">Apellido: {{lastname}}</p>
        <p class="parrafo">Email: {{email}}</p>
        <p class="parrafo">Edad: {{age}}</p>
        <p class="parrafo">Rol: {{rol}}</p>
        <p class="parrafo">Provider: {{provider}}</p>      

        <form class="logout" action="/api/sessions/logout" method="POST">
            <button type="submit" class="btnClose">Cerrar sesion</button>
        </form>
    </div>

    

    <h2 style="margin-top: 3rem;">Lista de productos de la tienda:</h2>
    <!--<div class="h3Paginatediv">
        <h3 class="h3Paginate">Pagina: {{page}} de {{totalPages}}</h3>
    </div>-->

    <div id="tablePaginate">
        <table class="tablePag">
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Producto</th>
                <th>Tamaño</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th class="none"></th>
                <th class="none"></th>
            </tr>
            {{#each products.docs}}
            <tr>
                <td class="center">{{this.id}}</td>
                <td class="center">{{this._id}}</td>
                <td class="center">{{this.tittle}}</td>
                <td class="center">{{this.description}}</td>
                <td class="center">{{this.stock}}</td>
                <td class="center">{{this.category}}</td>
                <td class="center">{{this.price}}</td>
                <td class="none"><a href="./detalles?pid={{this._id}}"><button id={{this._id}} class="detallebtn" >Detalles</button></a></td>
                <td class="none"><a href="./detalles?pid={{this._id}}"><button id={{this._id}} class="agregarbtn" >Agregar al carrito</button></a></td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div class="divBotonsPaginate">
        {{#if hasPrevPage}}
            <button class="buttonPaginate"><a class="enlace" href="/products?page={{prevPage}}">⬅ Anterior</a></button>
        {{/if}}

        {{#if hasNextPage}}
            <button class="buttonPaginate"><a class="enlace" href="/products?page={{nextPage}}">Siguiente ➡</a></button>
        {{/if}}
    </div>

</body>
</html>