<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-color: beige;"> 

    <header style="background-color: rgb(2, 136, 80);
                   font-size: 2rem;
                   height: 6rem;
                   display: flex;
                   justify-content: center;
                   align-items: center">
        <h2>〽My aplication</h2>
    </header>
    <hr>

    <div style="display: flex;
                justify-content: center;
                color: rgb(6, 185, 6);" 
         id="divh1Profile">
        <h1 class="headerPerfilh1">Perfil de usuario</h1>
    </div>

    <hr>
    
    <h2 style="margin-left: 1rem">¡Hola, {{user.first_name}}!</h2>

    <hr>
    
    <div style="margin-left: 1rem" class="datosUser">
        <h4 class="titulo">Datos del usuario</h4>

        <p class="parrafo">Nombre: {{user.first_name}}</p>
        <p class="parrafo">Apellido: {{user.last_name}}</p>
        <p class="parrafo">Email: {{user.email}}</p>
        <p class="parrafo">Edad: {{user.age}}</p>
        <p class="parrafo">Rol: {{user.rol}}</p>
        <p class="parrafo">Provider: {{user.provider}}</p>      

        <form class="logout" action="/api/sessions/logout" method="POST">
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
    </div>

     <hr>

    <a href="/api/carts/{{cartId}}"><button style="margin-left: 1rem;" id= "{{cartId}}" type="button" class="btn btn-outline-primary"><span class="material-symbols-outlined">shopping_cart</span></button></a>

    <hr>

    <h2 style="margin-top: 3rem;margin-left: 1rem; text-align: center">Lista de productos de la tienda:<a href="/realTimeProducts"><button style="margin-left: 1rem;" type="button" class="btn btn-outline-success">Crear Producto</button></a></h2>
    <!--<div class="h3Paginatediv">
        <h3 class="h3Paginate">Pagina: {{page}} de {{totalPages}}</h3>
    </div>-->

    <div style="display: flex;
                justify-content: center;
                align-items: center;
                margin: 2rem;
                text-align: center;"
                id="tablePaginate">
        <table style="border: 2.5px solid black; padding: 5rem;width: 95vh" class="tablePag">
            <thead>
                <tr>
                    <th  style="padding: .7rem;background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;"><strong>#</strong></th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">ID</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Producto</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Tamaño</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Stock</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Categoria</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;">Precio</th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;" class="none"></th>
                    <th  style="background-color: rgb(224, 224, 43);;border-bottom: 5px solid black;" class="none"></th>
                </tr>
            </thead>

            <tbody>
                {{#each products.docs}}
                <tr>
                    <td style="padding: .8rem;" class="center"><strong>{{this.id}}</strong></td>
                    <td class="center">{{this._id}}</td>
                    <td class="center">{{this.tittle}}</td>
                    <td class="center">{{this.description}}</td>
                    <td class="center">{{this.stock}}</td>
                    <td class="center">{{this.category}}</td>
                    <td class="center">${{this.price}}</td>
                
                    <td class="none"><a href="/api/products/{{this._id}}"><button id= "{{this._id}}" type="button" class="btn btn-info">Detalle</button></a></td>

                    <td class="none"><form action="/api/carts/{{this.cartId}}/products/{{this._id}}" method="POST"><button type="submit" class="btn btn-outline-warning" id="{{this._id}}">Agregar al carrito</button></form></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="divBotonsPaginate">
        {{#if hasPrevPage}}
            <button class="buttonPaginate"><a class="enlace" href="/products?page={{prevPage}}">⬅ Anterior</a></button>
        {{/if}}

        {{#if hasNextPage}}
            <button class="buttonPaginate"><a class="enlace" href="/products?page={{nextPage}}">Siguiente ➡</a></button>
        {{/if}}
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>