<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="divh1Profile">
        <h1 class="headerPerfilh1">Perfil de usuario</h1>
    </div>
    
    
    <h2>Hola, {{username}}</h2>

    <hr>
    
    <div class="datosUser">
        <h4 class="titulo">Datos del usuario</h4>

        <p class="parrafo">Nombre: {{username}}</p>
        <p class="parrafo">Apellido: {{lastname}}</p>
        <p class="parrafo">Email: {{email}}</p>
        <p class="parrafo">Edad: {{age}}</p>
        <p class="parrafo">Rol: {{rol}}</p>
        <p class="parrafo">Provider: {{provider}}</p>

        <form class="logout" action="/api/sessions/logout" method="POST">
            <button type="submit" class="btnClose">Cerrar sesion</button>
        </form>
    </div>
    

    <hr>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h2 style="color: red;">¡Lo sentimos, no tienes acceso a la lista de productos! 😓</h2>



</body>
</html>