<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <script src="https://kit.fontawesome.com/eef39b1d3b.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <header style="background-color: rgb(2, 136, 80);
                   font-size: 2rem;
                   height: 6rem;">
        <h2>〽My aplication</h2>
    </header>
    
    <div id="divh1Profile">
        <h1 class="headerPerfilh1">Perfil de usuario</h1>
    </div>
    
    
    <h2>Hola, {{user.first_name}}</h2>

    <hr>
    
    <div class="datosUser">
        <h4 class="titulo">Datos del usuario</h4>

        <p class="parrafo">Nombre: {{user.first_name}}</p>
        <p class="parrafo">Apellido: {{user.last_name}}</p>
        <p class="parrafo">Email: {{user.email}}</p>
        <p class="parrafo">Edad: {{user.age}}</p>
        <p class="parrafo">Rol: {{user.rol}}</p>
        <p class="parrafo">Provider: {{user.provider}}</p>

        <form class="logout" action="/api/sessions/logout" method="POST">
            <button style="background-color: red;" type="submit" class="btnClose">Cerrar sesion</button>
        </form>
    </div>
    

    <hr>

    <a href="/api/carts/{{cartId}}"><button style="font-size: 2rem;" id="{{cartId}}"><i class="fa-solid fa-cart-shopping"></i></button></a>

    <hr>
    
    <br>

    <a href="/chatLogin"><button style="background-color: green;" id={{this._id}} class="agregarbtn" >Chat</button></a></body>
    <h2 style="margin-top: 3rem;">Lista de productos de la tienda:</h2>

    <div id="tablePaginate">
        <table class="tablePag">
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Producto</th>
                <th>Tamaño</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th class="none"></th>
                <th class="none"></th>
            </tr>
            {{#each products.docs}}
            <tr>
                <td class="center">{{this.id}}</td>
                <td class="center">{{this._id}}</td>
                <td class="center">{{this.tittle}}</td>
                <td class="center">{{this.description}}</td>
                <td class="center">{{this.stock}}</td>
                <td class="center">{{this.category}}</td>
                <td class="center">{{this.price}}</td>

                <td class="none"><form action="/api/carts/{{this.cartId}}/products/{{this._id}}" method="POST"><button style="background-color: yellow;" id="{{this._id}}" class="agregarbtn" >Agregar al carrito</button></form></td>
            </tr>
            {{/each}}
        </table>
    </div>


</body>
</html>
