<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body id="body">

    <div id="formulario">
        <h1>Agregar producto:</h1>

        <form id="formu" action="/api/products" method="POST">
            <label for="tittle">Tittle: </label><input type="text" name="tittle" placeholder="Nombre del producto" required>
            <label for="description">Description: </label><input type="text" name="description" placeholder="Descripcion del producto" required>
            <label for="price">Price: </label><input type="number" name="price" placeholder="Precio" required>
            <label for="thumbnail">Imagen: </label><input type="text" name="thumbnail" placeholder="sin imagen">
            <label for="code">Code: </label><input type="number" name="code" placeholder="Codigo autogenerable" required>
            <label for="status">Status: </label><input type="text" name="status" placeholder="True o false" required>
            <label for="stock">Stock: </label><input type="number" name="stock" placeholder="Cantidad disponible" required>
            <label for="category">Category: </label><input type="text" name="category" placeholder="Tipo de producto" required>
    
            <input class="inputEnviar" type="submit" value="Agregar">
        </form>
</div>

<script>
        const form = document.getElementById("formu")

        form.addEventListener("submit", function(evt) {
            evt.preventDefault();
            
            form.reset()
        })

        
</script>


    <br>
    <br>

    <div id="tabla">
        <div class="h2">
        <h2>Lista de productos:</h2>
        </div>

    <div class="tableContainer">
        
        <table id="productos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Code</th>
            </tr>

            {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.tittle}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>{{this.code}}</td>       
            </tr>
            {{/each}}
        </table>
    </div>
    </div>


</body>
</html>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>