<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body id="body">

    <div id="formulario">
        <h1>Agregar producto:</h1>

        <form action="/api/products" method="post">          
            <label for="id">ID</label><input name="id" type="number" placeholder="ID autogenerable" value="0">

            <label for="tittle">Nombre: </label><input type="text" name="tittle" placeholder="Nombre del producto" required>

            <label for="description">Tamaño</label><select id="description" name="description" class="selec">
                <option value="value1" hidden selected>Selecciona una opcion</option>
                <option value="pequeño">pequeño</option>
                <option value="mediano">mediano</option>
                <option value="grande">grande</option>
            </select>

            <label for="price">Precio: </label><input type="number" name="price" placeholder="Precio" required>

            <label for="thumbnail">Imagen: </label><input name="thumbnail" type="text" id="thumbnail" placeholder="sin imagen" value="sin imagen">

            <label for="code">Codigo: </label><input type="number" name="code" placeholder="Codigo autogenerable" required value="0">

            <label for="status">Disponible</label><select id="status" name="status" class="selec">
                <option value="value1" hidden selected>Selecciona una opcion</option>
                <option value="true">true</option>
                <option value="false">false</option>
            </select>

            <label for="stock">Stock: </label><input type="number" name="stock" placeholder="Cantidad disponible" required>

            <label for="category">Categoria: </label><input type="text" name="category" placeholder="Tipo de producto (eje:fruta)" required>
    
            <input class="inputEnviar" type="submit" value="Agregar" id="formButton">
        </form>
    </div>


<!--
    <div id="tabla">
        <div class="h2">
        <h2>Lista de productos:</h2>
        </div>

    <div class="tableContainer">
        
        <table id="productos">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
            </tr>

            {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.tittle}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td><button class="butn" id="deleteButton{{this.id}}" onclick="deleteProduct({{this.id}})">X</button></td>       
            </tr>
            {{/each}}
        </table>
    </div>
    </div>
    -->

</body>
</html>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>